<template>
    <div class="item">
        <li class="list-group-item" @mouseover="showOperations = true" @mouseleave = "showOperations = false">
            <h4>
                <span @click="toggleFolder">
                    <i :class="['fa', openFolder ? 'fa-caret-down' : 'fa-caret-right']"></i>
                </span>
                {{category.name}}
            </h4>

            <!-- <button type="button" class="btn btn-xs btn-success" v-show="showOperations" @click="toggleInput">添加分类</button> -->
            <ul v-show="showOperations">
                <li class="btn btn-xs btn-success" @click="toggleInput">添加分类</li>
                <li class="btn btn-xs btn-info" @click="throughModal('editName')">编辑分类</li>
                <li class="btn btn-xs btn-info" @click="throughModal('insertBefore')">向上插入</li>
                <li class="btn btn-xs btn-info" @click="throughModal('insertAfter')">向下插入</li>
                <li class="btn btn-xs btn-warning" @click="moveUp"> <i class="fa fa-arrow-up"></i> </li>
                <li class="btn btn-xs btn-warning" @click="moveDown"><i class="fa fa-arrow-down"></i></li>
                <li class="btn btn-xs btn-danger" @click="deleteCategory">删除分类</li>

            </ul>
        </li>

        <ul class="list-group child-group" v-if="openFolder && category.children.length">
            <draggable v-model="category.children" :options="{draggable: '.item', group:'list'}">
                <category v-for="ccategory in category.children" :key="ccategory.id" :category="ccategory" :pcategories="category.children"></category>
            </draggable>
        </ul>

        <input type="text" v-model="newCategory" class="from-control" v-if="openInput" @keyup.enter="addCategory">

        <modal v-if="showModal">
            <h3 slot="header">{{modal.header}}</h3>

            <input slot="body" type="text" v-model="modal.model" @keyup.enter="editName" v-if="modal.method == 'editName'">
            <input slot="body" type="text" v-model="modal.model" @keyup.enter="insertBefore" v-if="modal.method == 'insertBefore'">
            <input slot="body" type="text" v-model="modal.model" @keyup.enter="insertAfter" v-if="modal.method == 'insertAfter'">
            <button slot="footer" @click="showModal=false">取消</button>
        </modal>
    </div>
</template>

<script>
    import {EventBus} from './event-bus.js';
    import Modal from './Modal.vue';
    import draggable from 'vuedraggable';

    export default {
        name: 'category',

        components: {
            'modal': Modal,
            'draggable': draggable
        },

        props:['category', 'pcategories'],

        data: function() {
            return {
                showOperations: false,
                openInput: false,
                showModal: false,
                openFolder: false,
                modal: {
                    header:'',
                    model:'',
                    method:''
                },
                newCategory: ''
            }
        },

        methods: {
            toggleInput: function(){
                this.openInput = !this.openInput;
            },

            toggleFolder: function(){
                this.openFolder = !this.openFolder;
            },

            addCategory: function(){
                // axios.post('/category', {parentId: this.category.id, name: this.newCategory}).then((response)=>{
                //     this.openFolder = true;
                //     this.newCategory='';
                //     EventBus.$emit('getCategories');
                // }).catch((error)=>{
                //     throw error;
                // })
                this.category.children.push({parent_id:this.category.id, name:this.newCategory, children:[]});
                this.openFolder = true;
                this.newCategory="";
            },

            editName: function() {
                // axios.put('/category/'+this.category.id, { name: this.modal.model}).then((response)=>{
                //     this.modal.model= '';
                //     this.showModal = false;
                //     EventBus.$emit('getCategories');
                // }).catch((error)=>{
                //     throw error;
                // })
                this.category.name = this.modal.model;
                this.modal.model= '';
                this.showModal = false;
            },

            insertBefore: function() {
                // axios.post('/category/'+this.category.id+'/insertBefore', { name: this.modal.model}).then((response)=>{
                //     this.modal.model= '';
                //     this.showModal = false;
                //     EventBus.$emit('getCategories');
                // }).catch((error)=>{
                //     throw error;
                // })
                let index = this.pcategories.indexOf(this.category);
                this.pcategories.splice(index, 0, {parent_id:this.category.parent_id, name:this.modal.model, children:[]});
                this.modal.model= '';
                this.showModal = false;
            },

            insertAfter: function() {
                // axios.post('/category/'+this.category.id+'/insertAfter', { name: this.modal.model}).then((response)=>{
                //     this.modal.model= '';
                //     this.showModal = false;
                //     EventBus.$emit('getCategories');
                // }).catch((error)=>{
                //     throw error;
                // })
                let index = this.pcategories.indexOf(this.category);
                this.pcategories.splice(index+1, 0, {parent_id:this.category.parent_id, name:this.modal.model, children:[]});
                this.modal.model= '';
                this.showModal = false;
            },

            throughModal: function(type){
                this.showModal = true;

                switch (type) {
                    case 'editName':
                        this.modal = {
                            header: '编辑分类',
                            method: 'editName'
                        };
                        break;
                    case 'insertBefore':
                        this.modal = {
                            header: '向上插入',
                            method: 'insertBefore'
                        };

                        break;
                    case 'insertAfter':
                        this.modal = {
                            header: '向下插入',
                            method: 'insertAfter'
                        };

                        break;
                    default:

                }
            },

            moveUp:function() {
                axios.post('/category/'+this.category.id+'/moveUp').then((response)=>{
                    EventBus.$emit('getCategories');
                }).catch((error)=>{
                    throw error;
                })
            },

            moveDown:function() {
                axios.post('/category/'+this.category.id+'/moveDown').then((response)=>{
                    EventBus.$emit('getCategories');
                }).catch((error)=>{
                    throw error;
                })
            },

            deleteCategory: function() {
                axios.delete('/category/'+this.category.id).then((response)=>{
                    this.showModal = false;
                    EventBus.$emit('getCategories');
                }).catch((error)=>{
                    throw error;
                })
            }

        }
    }
</script>

<style lang="scss">
    .list-group-item {
        height: 6em;
        border-left: 3px solid #3c8dbc;
    }

    .child-group {
        margin-left: 4em;

        li.list-group-item {
            border-left-color: #f39c12;
        }
    }
</style>
